<div class="cube">
    <img class="cube" src="/static/images/{{#if imageUrl}}{{imageUrl}}{{else}}noImage.jpg{{/if}}" />
    <p class="name">
        {{name}}
    </p>
    <p>
        <span>
            Price:
        </span>
        {{#if price}}{{price}}{{else}}free{{/if}}
    </p>
    <a class="btn" href="/details/{{id}}">Details</a>
    <button class="btn more">Show more</button>
    <div class="description"><p class="show-more">{{description}}</p></div>
</div>