    {{#if promotion}}
    <li class="promoted">{{name}} - {{price}} <a class="btn" href="/catalog/update/{{_id}}">Edit</a> <a class="btn" href="/catalog/delete/{{_id}}">Delete</a></li>

    {{else}}
    <li>{{name}} - {{price}} <a class="btn" href="/catalog/update/{{_id}}">Edit</a> <a class="btn" href="/catalog/delete/{{_id}}">Delete</a></li>
    {{/if}}
